{
    padding: 0px;
    margin: 0px; 
}

.header-control
{
    background-color: #3F5C9A;
    width: 100%;
    height: 110px;

}

.control-align
{
    width: 980px;
    height: 300px;
    margin-left:auto;
  margin-right: auto;
}

.img-control
{
  float: left;
}
.img-control img{
  width: 200px;
  heigth : 50px;
  margin-top:25px;
}

.login
{
  float: right;
  font-family: arial;
  font-size: 14px;
  font-color: white;
  margin-top: 20px;
  
}



.login p
{
  margin-left:px;
  
}
.btn
{
  background-color : #2980b9;
  color: white;
  font-family:arial;
  padding : 5px ; 5px; 5px;
  border: none;
  border-radius:5px;
}

.login a
{
  color: white;
  
}

.content-control
{
  height:1080px;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  
  
}

.left
{
  float: left; 
  margin-top: 20px;
  width:400px;
  font-family:arial;
  color : #2980b9;
}

.left h3
{
  margin-top:20px;
  margin-bottom:20px;
  
}
.left img
{
  width:500px;
}

.right
{
  float:right;
  font-family:arial;
  margin-top:20px;
}

.in1
{
  width:170px;
}

.in2
{
  width:340px;
}