body{
  margin: 5px;
    padding: 0;
    background-image: url('ClassroomProject.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    font-family: sans-serif;

}
h1{
    text-align: center;
    display: block;
    margin: 3.5em 0 1em;
    font-weight: 100;
    font-size: 24px;
    padding-top: 0px;
}
#NavigationBar{
    position: sticky;
    top: 0;
    z-index: 10px;
}
.navbar
{
    background: #f4f2f0;
}
.navbar-nav li
{
    padding-right: 48px;
} 

.navbar-nav li a
{
    color: black;
}
#loginbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 500px;
    border: 1px solid #d8dee2;
    border-radius: 3%;
    padding: 20px;
    font-size: 15px;
    background-color: #285575ad;
    font-weight: 600;
}

input[type="text"], input[type="password"]{
    width: 100%;
    height: 34px;
    border-radius: 0.25em;
    border: 1px solid #d1d5da;
}
input[type="text"]:focus{
    box-shadow: 0 0 3pt 2pt #B0E0E6;
    box-shadow: 0 0 0 2pt #B0E0E6;
}
input[type="password"]:focus{
    box-shadow: 0 0 3pt 2pt #B0E0E6;
    box-shadow: 0 0 0 2pt #B0E0E6;
}

input[type="submit"]{
    width: 100%;
    border: none;
    background-color: 28a745;
    background-image: linear-gradient(-180deg, #DBE5FC 0%, #DBE5FC 90%);;
    color: #0F2E44;
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    border-radius: 0.25em;
}